/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Square&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Square&family=Poppins&display=swap');

/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(252, 37, 156);
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgb(252, 37, 156, .3);
}

.display {
    display: flex !important;
}

.fixed {
    position: fixed !important;
    max-width: 100% !important;
    top: 0;
    box-shadow: 0 -3px 13px 0 #000;
}

.overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, .5);
}

.lnr-menu,
.mobile-icons,
.mobile-list-icon,
.mobile-nav-top {
    display: none;
}

.nav-sub-item-mobile {
    display: flex !important;
    position: relative !important;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    background-color: #810081;
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    z-index: 5;
    opacity: 0;
    transition: .4s;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #ad00ad;
}

.top-button-active {
    display: grid;
    opacity: 1;
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.header-container {
    display: flex;
    width: 80%;
    background-color: #fff;
    z-index: 4;
}

.header-link-container a:hover:not(:last-child) {
    text-decoration: underline;
}

.header-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 5rem;
    cursor: pointer;
}

.search {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
}

.search input {
    max-width: 90%;
    font-family: Montserrat, Poppins, sans-serif;
}

.fa-magnifying-glass {
    opacity: .5;
    padding: 0 .5rem;
    cursor: pointer;
}

.lang-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 .5rem;
    height: 2rem;
    cursor: pointer;
    transition: .3s;
}

.lang-content:hover .lang-select {
    display: flex;
}

.lang-select li:hover:not(:first-child) {
    opacity: 1;
}

.lang-select {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 15rem;
    box-shadow: 0px 0px 10px 2px rgba(51, 51, 51, .5);
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding: .5rem;
    border-radius: .25rem;
}

.lang-select li:not(:first-child) {
    opacity: .6;
    width: 100%;
}

.lang-select li img {
    width: 1.5rem;
}

.header-link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Poppins, san-serif;
}

.header-link-container a {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0 .5rem;
    color: #626262;
}

.header-link-container a:not(:last-child)::after {
    position: absolute;
    top: 0;
    right: 1px;
    width: 1px;
    height: 100%;
    background: #626262;
    content: '';
}

.header-link-container a:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fc259c;
}

/* NAVBAR */

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    background-color: #f3f3f3;
    z-index: 4;
}

.nav-titles {
    min-height: 2.5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.nav-titles .sup-list-item {
    min-height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-titles .sup-list-item a:not(.nav-sub-container li a, .pink) {
    padding: 0 1rem;
    text-align: center;
    color: #444;
    font-size: 12px;
    position: relative;
}

.nav-sub-container {
    min-width: 100%;
    overflow: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(149, 149, 149, .7);
    font-family: Poppins, sans-serif;
    z-index: 5;
}

.nav-sub-container li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
    padding: .5rem;
}

.nav-sub-container li a {
    color: #fff;
    width: 100%;
    text-align: left;
    font-weight: 700;
    min-width: fit-content;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}

/* MAIN */

.slider {
    margin: 1rem auto;
    position: relative;
    display: grid;
    place-items: center;
    max-width: 95%;
    overflow: hidden;
}

.slide {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide img {
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
    cursor: pointer;
}

.slider-btn-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
}

.slider-btn:hover {
    background-color: #000;
    color: #fff;
}

.slider-btn-left::before {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.slider-btn-right::before {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

/* PRODUCTS */

.products {
    position: relative;
    height: fit-content;
    max-width: 95%;
    margin: 2rem auto;
    display: grid;
    place-items: center;
    font-family: Poppins, sans-serif;
}

.products-title {
    max-width: 100%;
    color: #a5a5a5;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 1rem;
}

.product-img-container .shopping-card {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background: #a5a5a5;
    z-index: 2;
}

.product-img-container .img-link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    transition: all .3s ease;
    z-index: 1;
}

.product:hover .fav-icon {
    display: block;
}

.product:hover .shopping-card {
    display: block;
}

.product-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.products-slide,
.bottom-products-slide {
    display: flex;
    width: 100%;
    height: fit-content;
    transition: .5s all ease-in-out;
}

.products .products-btn-left,
.bottom-products-btn-left {
    position: absolute;
    left: 0;
    z-index: 2;
}

.products .products-btn-right,
.bottom-products-btn-right {
    position: absolute;
    right: 0;
    z-index: 2;
}

.products-btn-left::after,
.bottom-products-btn-left::after {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.products-btn-right::after,
.bottom-products-btn-right::after {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.product {
    margin: 0 1rem;
    flex: 1 0 calc(20% - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(165, 165, 165, .4);
}

.product img {
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
}

.product .item-category {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    cursor: pointer;
    text-transform: uppercase;
}

.product-img-container {
    position: relative;
    width: 100%;
    max-height: 20rem;
    display: grid;
    place-items: center;
    position: relative;
}

.product-img-container .shopping-card a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.product:hover .img-link::after {
    top: 0;
}

.product .sale {
    position: absolute;
    border-radius: 100%;
    color: #fff;
    background-color: #eb3175;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    z-index: 2;
    top: -1rem;
    left: 0;
}

.product .new {
    position: absolute;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    z-index: 2;
    top: -1rem;
    right: 0;
    font-size: 13px;
    font-weight: 700;
    font-family: poppins;
    color: #a5a5a5;
    background: #fff;
    border: 2px solid #a5a5a5;
    text-transform: uppercase;
}

.fav-icon {
    display: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #fc259c;
    z-index: 2;
    top: 30%;
    left: 30%;
    cursor: pointer;
}

.fav-icon::after {
    content: '\e813';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: linearicons-free;
    color: #fff;
    font-size: 1.5rem;
}

.product-img-container .product-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.product .product-name a {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #707070;
    min-height: 3rem;
}

.product .product-price sub {
    text-decoration: line-through;
    font-size: 15px;
}

.product .product-price sup {
    font-size: 18px;
    color: #fc259c;
    font-weight: 700;
}

/* MAIN PICS */

.main,
.bottom-description {
    width: 95%;
    margin: 0 auto;
}

.main img,
.bottom-description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main img:hover {
    box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, .3);
}

.main .grid-8 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 1rem 0;
}

.main .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    margin: 1rem 0;
}

.bottom-description article:nth-child(2) {
    height: 17rem;
    font-family: Montserrat;
    overflow: auto;
    background-color: #f3f3f3;
    padding: 0 2rem;
    margin: 1rem 0;
    font-size: 14px;
}

.bottom-description article:nth-child(2) h1,
h2 {
    text-align: center;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.bottom-description article:nth-child(2) h2 {
    font-size: 16px;
}

/* FOOTER */

.footer-container {
    max-width: 100%;
    background-color: #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer-links {
    max-width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 12px;
    margin-bottom: 1rem;
}

.footer-links article {
    width: 100%;
}

.footer-links article ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.footer-links article ul li {
    width: 100%;
    transition: all .3s ease;
    padding-right: .5rem;
}

.footer-links article ul li a {
    padding-right: .5rem;
    max-width: 100%;
    word-break: break-word;
}

.footer-links li,
.footer-links a {
    font-family: Poppins, Montserrat, sans-serif;
    color: #fff;
}

.footer-links li:not(:nth-child(1), .footer-links article:nth-child(4) li, .footer-links article:nth-child(5) li):hover {
    padding-right: 0;
    padding-left: .5rem;
}

.footer-links article ul li:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
}

.footer-links .social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-links .social-media-icons span {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-top: .5rem;
}

.footer-links .footer-mail {
    display: flex;
}

.footer-links .footer-mail input {
    color: #a5a5a5;
    height: 2rem;
    padding: .5rem;
}

.footer-links .footer-mail button {
    cursor: pointer;
    background-color: #fc259c;
    color: #fff;
    text-transform: uppercase;
    padding: 0 .5rem;
    border-radius: 0 2rem 2rem 0;
}

.footer-links .social-media-icons span a,
.social-media-icons span i {
    font-size: 1rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.social-media-icons span a:first-child {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.social-media-icons span a:nth-child(3) {
    background-color: #1DA1F2;
}

.social-media-icons span a:nth-child(2) {
    background-color: #1877F2;
}

.social-media-icons span a:last-child {
    background-color: #FF0000;
}

.store i {
    font-size: 1.25rem;
    padding-left: .5rem;
}

.footer-description {
    max-width: 95%;
    padding: 1rem;
    font-family: Montserrat, Poppins, sans-serif;
    border-bottom: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
}

.footer-description button {
    background: transparent;
    margin-top: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

.footer-description p:nth-child(2) {
    color: #fff;
    margin-top: 1rem;
    display: none;
}

.footer-icons {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icons p {
    font-size: 12px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {

    .header-container,
    .nav-titles {
        width: 100%;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 800px) {
    .nav-titles .pink-list-item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 2.5rem;
        background-color: #fc259c;
        min-width: 14.5rem;
    }

    .nav-titles .pink {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: #fff;
        font-weight: 700;
        font-size: 15px;
    }

    .nav-titles li:not(:first-child, :last-child) .sup-title::after {
        position: absolute;
        top: 1px;
        right: 0px;
        width: 1px;
        height: 15px;
        background: #626262;
        content: '';
    }

    .nav-titles .pink-list-item::after {
        content: '\f107';
        font-family: fontAwesome;
        color: #fff;
    }

    .nav-titles .sup-list-item:hover .nav-sub-container {
        display: flex;
    }

    .nav-sub-container li:hover .nav-sub-container {
        display: flex;
    }
}

/* PHONE SIZE */

@media screen and (max-width: 800px) {

    .slider-btn-container,
    .products-btn-left,
    .bottom-products-btn-left,
    .products-btn-right,
    .bottom-products-btn-right,
    .shopping-card,
    .fav-icon,
    .header-link-container,
    .header-container .header-item:nth-child(2),
    .search {
        display: none;
    }

    .header {
        align-items: flex-end;
    }

    .header-container {
        max-width: 90%;
        justify-content: space-evenly;
    }

    .header-item {
        flex-grow: 0;
    }

    .logo-container {
        justify-content: center;
        align-items: center;
    }

    .lnr-menu {
        display: block;
        position: absolute;
        left: .5rem;
        top: .5rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .mobile-icons {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav {
        transition: all .5s ease;
        position: absolute;
        left: -100%;
        top: 0;
        height: 100%;
        max-width: 85%;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
        background-color: #444;
    }

    .mobile-nav-top {
        margin-top: 1rem;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-nav-top span {
        background-color: #fff;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
        padding: 1rem;
        width: calc(100% - 5rem);
    }

    .mobile-nav-top .lnr-cross {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        font-weight: 700;
        display: grid;
        place-items: center;
        color: #fff;
        background-color: red;
    }

    .nav-titles {
        max-width: 100%;
    }

    .nav-titles span {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
    }

    .nav-sub-container {
        background: #444;
        max-width: 90%;
        align-items: flex-start;
        overflow: hidden;
    }

    .nav-sub-container li a {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        color: #fff;
    }

    .nav-titles .sup-list-item {
        width: 90%;
        flex-direction: column;
    }

    .nav-titles .sup-list-item a:not(.nav-sub-container li a) {
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 1rem;
        position: relative;
    }

    .nav-titles .sup-list-item i {
        background-color: #fff;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: 100%;
        font-weight: 700;
    }

    .product {
        flex: 1 0 calc(50% - 2rem);
    }

    .main .grid-8 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .main .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }

    .footer-links article {
        width: 100%;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #fff;
    }

    .footer-links article ul {
        width: 100%;
    }

    .footer-links .social-media-icons,
    .social-media-icons span {
        align-items: center;
        justify-content: center;
    }

    .footer-links article ul li {
        text-align: center;
    }

    .footer-icons {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}