@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nova+Square&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a:active {
    color: rgb(0, 119, 255);
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.header-container {
    display: flex;
    width: 80%;
}

.header-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 5rem;
    cursor: pointer;
}

.search {
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
}

.search input {
    width: 90%;
}

.search i {
    opacity: .5;
    cursor: pointer;
}

.lang-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 .5rem;
    height: 2rem;
    cursor: pointer;
    transition: .3s;
    z-index: 4;
}

.lang-content:hover .lang-select {
    display: flex;
}

.lang-select {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 15rem;
    box-shadow: 0px 0px 10px 2px rgba(51, 51, 51, .5);
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    padding: .5rem;
    border-radius: .25rem;
    height: fit-content;
}

.lang-select li:not(:first-child) {
    opacity: .6;
    width: 100%;
}

.lang-select li:hover:not(:first-child) {
    opacity: 1;
}

.lang-select li img {
    width: 1.5rem;
}

.header-link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Poppins, san-serif;
}

.header-link-container a {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    color: #626262;
}

.header-link-container a:hover:not(:last-child) {
    text-decoration: underline;
}

.header-link-container a:not(:last-child)::after {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 2px;
    height: 15px;
    background: #626262;
    content: '';
}

.header-link-container a:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #fc259c;
}

/* NAVBAR */

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    background-color: #f3f3f3;
    z-index: 3;
}

.fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 -3px 13px 0 #000;
}

.nav-titles {
    min-height: 2.5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.nav-titles li {
    min-height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-titles li a {
    padding: 0 1rem;
    text-align: center;
    color: #444;
    font-size: small;
    position: relative;
}

.nav-titles .pink-list-item {
    display: flex;
    align-items: center;
    min-height: inherit;
    background-color: #fc259c;
    min-width: 15rem;
}

.nav-titles .pink {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: inherit;
    color: #fff;
    font-weight: 700;
}

.nav-titles li:not(:first-child):not(:last-child) .sup-title::after {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 1px;
    height: 15px;
    background: #626262;
    content: '';
}

.nav-titles li:first-child .pink::after {
    content: '\f107';
    font-family: fontAwesome;
    color: #fff;
}

.nav-sub-container {
    min-width: 100%;
    overflow: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(149, 149, 149, .7);
    font-family: poppins, sans-serif;
}

.nav-titles li:hover .nav-sub-container {
    display: flex;
}

.nav-sub-container li:hover .nav-sub-container {
    display: flex;
}

.nav-sub-container li {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: fit-content;
    padding: .5rem 0;
}

.nav-sub-container li a {
    color: #fff;
    width: 100%;
    text-align: left;
    font-weight: 700;
    min-width: fit-content;
    text-transform: uppercase;
    white-space: nowrap;
}

/* MAIN */

.slider {
    margin: 1rem auto;
    position: relative;
    display: grid;
    place-items: center;
    max-width: 95%;
    overflow: hidden;
}

.slide {
    display: flex;
}

.slide img {
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
    cursor: pointer;
}

.slider-btn-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
}

.slider-btn:hover {
    background-color: #000;
    color: #fff;
}

.slider-btn-left::before {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.slider-btn-right::before {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

/* PRODUCTS */

.products {
    position: relative;
    height: fit-content;
    max-width: 95%;
    margin: 2rem auto;
    display: grid;
    place-items: center;
    font-family: Poppins, sans-serif;
}

.products-title {
    max-width: 100%;
    color: #a5a5a5;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 1rem;
}

.product-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.products-slide {
    display: flex;
    width: 100%;
    height: fit-content;
    transition: .5s all ease-in-out;
}

.products .products-btn-left {
    position: absolute;
    left: 0;
    z-index: 2;
}

.products .products-btn-right {
    position: absolute;
    right: 0;
    z-index: 2;
}

.products-btn-left::after {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.products-btn-right::after {
    content: "";
    font-family: FontAwesome;
    font-size: 30px;
}

.product {
    margin: 0 1rem;
    flex: 1 0 calc(20% - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(165, 165, 165, .4);
}

.product img {
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
}

.product .item-category {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    cursor: pointer;
    text-transform: uppercase;
}

.product-img-container {
    position: relative;
    width: 100%;
    max-height: 20rem;
    display: grid;
    place-items: center;
    position: relative;
}

.product-img-container .shopping-card {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background: #a5a5a5;
    z-index: 2;
}

.product:hover .shopping-card {
    display: block;
}

.product-img-container .shopping-card a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.product-img-container .img-link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    transition: all .3s ease;
    z-index: 1;
}

.product:hover .img-link::after {
    top: 0;
}

.product .sale {
    position: absolute;
    border-radius: 100%;
    color: #fff;
    background-color: #eb3175;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    z-index: 2;
    top: -1rem;
    left: 0;
}

.product .new {
    position: absolute;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    z-index: 2;
    top: -1rem;
    right: 0;
    font-size: 13px;
    font-weight: 700;
    font-family: poppins;
    color: #a5a5a5;
    background: #fff;
    border: 2px solid #a5a5a5;
    text-transform: uppercase;
}

.fav-icon {
    display: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #fc259c;
    z-index: 2;
    top: 30%;
    left: 30%;
    cursor: pointer;
}

.fav-icon::after {
    content: '\e813';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: linearicons-free;
    color: #fff;
    font-size: 1.5rem;
}

.product:hover .fav-icon {
    display: block;
}

.product-img-container .product-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.product .product-name a {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #707070;
}

.product .product-price sub {
    text-decoration: line-through;
    font-size: 15px;
}

.product .product-price sup {
    font-size: 18px;
    color: #fc259c;
    font-weight: 700;
}

/* MAIN PICS */

.main {
    width: 95%;
    margin: 0 auto;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main img:hover {
    box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, .3);
}

.main .grid-8 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 1rem 0;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    margin: 1rem 0;
}